In [1]:
#we can use simple while loop concept (we already done in 09)with lists,tuples,strings,dictionary too

In [6]:
#e.g. dictionary
d={"name":"inder","age":20,"education":"b.sc"}

In [8]:
#direct indexing slicing is not possible
d.keys()

dict_keys(['name', 'age', 'education'])

In [9]:
#we convert into list
list(d.keys())

['name', 'age', 'education']

In [13]:
len(d)

3

In [14]:
[0]

[0]

In [15]:
d={"name":"inder","age":20,"education":"b.sc"}
i=0
n=len(d)
k=list(d.keys())

while i < n:
    print(d[k[i]])
    i+=1

inder
20
b.sc

In [16]:
d.values()

dict_values(['inder', 20, 'b.sc'])

In [19]:
d={"name":"inder","age":20,"education":"b.sc"}
i=0
n=len(d)
k=list(d.keys())

while i < n:
    key=k[i]
    print(key)
    i+=1

name
age
education

In [1]:
#largest element
li=[2,3,5,4,6,9,4,8]
i=0
a=0
n=len(li)
while i<n:
    if li[i]>li[a]:
        a=i
        
    i+=1
print(a,li[a])

5 9

In [3]:
#largest element
li=[2,3,5,4,6,9,4,8]
i=0
a=0
n=len(li)
while i<n:
    #code acche se chala k dekhne k liye
    print(a,li[a],i,li[i])
    if li[i]>li[a]:
        a=i
        
    i+=1
print(a,li[a])

0 2 0 2
0 2 1 3
1 3 2 5
2 5 3 4
2 5 4 6
4 6 5 9
5 9 6 4
5 9 7 8
5 9

In [2]:
#smallest element
li=[2,3,5,4,6,9,4,8]
i=0
a=0
n=len(li)
while i<n:
    if li[i]<li[a]:
        a=i
        
    i+=1
print(a,li[a])

0 2

In [10]:
li=[2,3,4,5,6,7,8,20]
i=0
n=len(li)
a=0
while i<n:
    a+=li[i]
    i+=1
print("total sum:",a)

total sum: 55

In [11]:
li=[2,3,4,5,6,7,8,20]
i=0
n=len(li)
a=0
while i<n:
    a+=li[i]
    print(li[i],a)
    i+=1
print("total sum:",a)

2 2
3 5
4 9
5 14
6 20
7 27
8 35
20 55
total sum: 55

In [12]:
li.sort()

In [13]:
li

[2, 3, 4, 5, 6, 7, 8, 20]

In [14]:
len(li)//2

4

In [17]:
#mid item find krna
li[len(li)//2]

6

In [22]:
#important quwstion*********basic interviews
#que.is the number is prime or not.?
n=25
prime=True
i=2

while i<n:
    #print(i)
    if n%i==0:
        prime=False
        break
    i+=1
if prime:
    print(f"{n} is a prime number")
else:
    print(f"{n}is not a prime number")

25is not a prime number

In [25]:
#important quwstion*********basic interviews
#que.is the number is prime or not.?
n=25
prime=True
i=2

while i<n:
    print(i)
    if n%i==0:
        prime=False
        break
    i+=1
if prime:
    print(f"{n} is a prime number")
else:
    print(f"{n}is not a prime number")

2
3
4
5
25is not a prime number