# Recursion

#### when we call a function in itself.its called a recursion
..MAJOR POINTS
1. we call a function in itself
2. we assume a second call will give a correct output
3. it must have a terminating condition

In [1]:
# if we don't give any terminated condition..then (recursion depth reached) error occured or the laptop clashed 
def factorial(n):
    print(n,n-1)
    if n== 0:
        return 1
    return n*factorial(n-1)

In [2]:
factorial(5)

5 4
4 3
3 2
2 1
1 0
0 -1

120

In [3]:
def factorial(n):
   
    if n== 0:
        return 1
    print(n,n-1)
    return n*factorial(n-1)

In [4]:
factorial(5)

5 4
4 3
3 2
2 1
1 0

120

In [5]:
def factorial(n):
    print(n,n-1)
    if n== 0 or n==1:
        return 1
    return n*factorial(n-1)

In [6]:
factorial(5)

5 4
4 3
3 2
2 1
1 0

120

In [9]:
def factorial(n):
    
    if n== 0:
        return 1
    abc = n*factorial(n-1)
    print(abc)
    return abc

In [10]:
factorial(5)

1
2
6
24
120

120

In [21]:
L=[4,5,7,9,4,3,1,6]
def addList(L):
    print(L)
    if len(L)==0:
        return 0
    return L[0]+addList(L[1:])

In [22]:
addList(L)

[4, 5, 7, 9, 4, 3, 1, 6]
[5, 7, 9, 4, 3, 1, 6]
[7, 9, 4, 3, 1, 6]
[9, 4, 3, 1, 6]
[4, 3, 1, 6]
[3, 1, 6]
[1, 6]
[6]
[]

39

In [17]:
L=[4,5,7,9,4,3,1,6]
def addList(L):
    #print(L)
    if len(L)==0:
        return 0 
    return L[0]+addList(L[1:])

In [18]:
addList(L)

39

In [24]:
type(5) is int

True

In [30]:
L=[4,5,7,9,4,3,1,6]
def addList(L):
    print(L)
    if type(L) is int:
        return L
    elif len(L)==0:
        return 0 
    abc= addList(L[0]) + addList(L[1:])
    #print(L,abc)
    return abc

In [31]:
addList([1,2,[9,6,4,2],7,5,6,3])

[1, 2, [9, 6, 4, 2], 7, 5, 6, 3]
1
[2, [9, 6, 4, 2], 7, 5, 6, 3]
2
[[9, 6, 4, 2], 7, 5, 6, 3]
[9, 6, 4, 2]
9
[6, 4, 2]
6
[4, 2]
4
[2]
2
[]
[7, 5, 6, 3]
7
[5, 6, 3]
5
[6, 3]
6
[3]
3
[]

45